    @media (min-width: 769px) { 
    /* Coloca las tarjetas en 3 columnas en vistas grandes */
    .services-offered .cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
  :root {
  --color-font: #FFFFFF;
  --color-header:#34B1BF;
  --color-coral:#C2948A;
  --color-botones: #7EA8BE;

  --font-primary: 'Playfair Display', serif;
}


  .menu-toggle {
    display: block;
  }


  .nav-menu {
    display: none;
    flex-direction: column;
    background-color: var(--color-header);
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
  }
  .nav-menu a{
    color: var(--color-font);
  }
  .nav-menu.show {
    display: flex;
  }

  .nav-menu ul {
    flex-direction: column;
    gap: 10px;
  }

  .nav-menu a {
    font-size: 18px;
  }
  /*testimonial section*/
  .testimonial-properties {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .testimonial {
    flex: 1;
    margin-right: 2rem;
  }
  .services-offered .cards-container {
        grid-template-columns: repeat(3, 1fr);
    }


/* Estilos para cada tarjeta de servicio */
.service-card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
    text-align: center;
}

.service-card:hover {
    transform: translateY(-5px); /* Pequeño efecto al pasar el ratón */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.service-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.service-card h3 {
    font-family: var(--font-heading);
    color: var(--color-contrast);
    margin-top: 0;
    margin-bottom: 10px;
}

.service-card p {
    font-family: var(--font-body);
    color: #666;
    margin-bottom: 20px;
}

.service-cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-botones); /* Tu color de botón (ej: #7EA8BE) */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
}

  .property-cards-container {
    flex: 2;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .contact-container {
        flex-direction: column;
        padding: 0 0.8rem; /* Menos espacio en móviles */
    }

    .contact-form,
    .exchange-rates {
        flex: 1 1 100%;
        min-width: unset;
    }
  }
